@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+Tangsa:wght@400;500&display=swap");
body {
	margin: 0;
	text-align: center;
}

#content {
	width: 500px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 200px 500px;
	position: relative;
}

#content{
	row
}
h1 {
	font-family: "Bebas Neue", cursive;
	margin-bottom: 5%;
}
p,
a {
	font-family: "Noto Sans Tangsa", sans-serif;
}


/*header*/
.header {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-column: 1/13;
	grid-row: 1/2;
}

.langue {
	grid-column: 6/7;
}
.link a,
.linkon a {
	text-decoration: none;
	color: #26567a;
	font-family: "Noto Sans Tangsa", sans-serif;
	font-weight: 500px;
	transition: color 0.5s;
}
.language a {
	text-decoration: none;
	color: #26567a;
	font-family: "Noto Sans Tangsa", sans-serif;
	font-weight: 500px;
	font-size: 70%;
	transition: color 0.5s;
}

.language a:hover {
	color: #4ea4c6;
}

.logo img {
	margin-top: 25px;
	margin-bottom: 25px;
	width: 75%;
	margin-left: 85px;
}
.logo {
	grid-column: 2/4;
	grid-row: 1/2;
}
.link,
.linkon {
	grid-row: 3/4;
}

.link a,
.linkon a {
	text-decoration: none;
	color: gray;
	font-family: "Noto Sans Tangsa", sans-serif;
	font-weight: 500px;
	transition: color 0.5s;
}
.linkon a {
	color: black;
}
.link a:hover {
	color: black;
}
.language a {
	text-decoration: none;
	color: #26567a;
	font-family: "Noto Sans Tangsa", sans-serif;
	font-weight: 500px;
	font-size: 70%;
	transition: color 0.5s;
}

.language a:hover {
	color: #4ea4c6;
}
.link a:hover {
	color: #4ea4c6;
}
.linkon a:hover {
	color: #4ea4c6;
}

.slider {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	position: relative;
}

/* slideshow */

* {
	box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
	width: 800px;
	position: relative;
	margin: auto;
	margin-top: 10%;
	margin-left: 2%;
}

/* Hide the images by default */
.mySlides {
	display: none;
	margin-left: 7%;
}

.mySlides img {
	width: 50% !important;
	position: relative;
	float: left;
}

.mySlides p {
	width: 40% !important;
	margin-left: 5%;
	position: relative;
	float: left;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 30%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: #17748f;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */

.prev {
	left: 0;
	border-radius: 3px 0 0 3px;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
	margin-right: -7%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: #f9d71c;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #26567a;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
	font-family: "Bebas Neue";
}

/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

.footer {
    grid-row: 7/8;
    grid-column: 1/13;
    background-color: #26567a;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    border-radius: 3px;
    }
    .footer h1 {
        color: white;
        grid-row: 2/3;
        grid-column: 3/11;
    }
    .footer h2 {
        color: white;
        grid-row: 2/3;
        grid-column: 4/9;
        position: absolute;
        margin-top: 150px;
        right: -50px;

    }
    .footer img {
        margin-top: 30px;
        width: 100%;
       }
       
    .footer img:hover  {
     transform: translateY(-20%) scale(1.1);
     transition: all 0.5s;
    }
    .facebook {
        grid-row: 4/5;
        grid-column: 5/6;
        }
    .insta {
        grid-row: 4/5;
        grid-column: 6/7;
    }
    .mail {
        grid-row: 4/5;
        grid-column: 7/8;
    }
    .maps {
        grid-row: 4/5;
        grid-column: 8/9;
    }

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

@media (min-width: 768px) {
	#content {
		width: 768px;
		grid-template-rows: 200px 500px;
	}
	.header img {
		width: 150px;
		margin-left: 135px;
	}
	.header img {
		width: 150px;
		margin-left: 135px;
	}
	.slideshow-container {
		width: 750px;
		position: relative;
		margin: auto;
		margin-top: 5%;
		margin-right: 5%;
	}
	.footer img {
		margin-top: 30px;
		width: 80%;
		}
		.footer h2 {
			margin-top: 120px;
			margin-left: 60px;
			right: 0px;
		}
}

@media (min-width: 1200px) {
	#content {
		width: 1200px;
		grid-template-rows: 200px 500px;
	}
	.header img {
		margin-left: 220px;
	}
	.slideshow-container {
		width: 1000px;
		position: relative;
		margin: auto;
		margin-top: 5%;
		margin-left: 5%;
	}
	.footer img {
		margin-top: 30px;
		width: 70%;
		}

		.footer h2 {
			margin-top: 60px;
			margin-left: 80px;
			font-size: 40px;
			
		}
}
