@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+Tangsa:wght@400;500&display=swap');
body {
    margin: 0;
    text-align: center;
}

#content {
    width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px;
}
.header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column: 1/13;
    grid-row: 1/2;
    background-color: white;
}
.logo img {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 75%;
    margin-left: 85px;
    
}
.logo {
    grid-column: 2/4;
    grid-row: 1/2;
}
.link, .linkon{
    grid-row: 4/5;
}

.link a, .linkon a{
    text-decoration: none;
    color: gray;
    font-family: 'Noto Sans Tangsa', sans-serif;
    font-weight: 500px;
    transition: color 0.5s;
}
.linkon a {
    color: black;
}
.link a:hover {
    color:black;
}
body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-weight: 400;
    color: white;
    background-color: white;
}

.container {
    padding: 2rem;
    padding-bottom: 400px;
    margin: 0 auto;
    max-width: 800px;
}

.top-section {
    text-align: center;
    padding: 4rem 0;
    max-width: 600px;
    margin: 0 auto;
}

.timeline {
    position: relative;
    min-height: 150px;
}

.timeline img {
    width: 350px;
}

@media only screen and (max-width: 600px) {
    .timeline img {
      width: 175px
    }
  }

.line {
    position: absolute;
    z-index: 2;
    left: calc(50% - 1px);
    width: 2px;
    top: -50px;
    bottom: -50px;
    background-color: rgb(51, 102, 102);
    display: none;
}

.line:before,
.line:after {
    position: absolute;
    display: block;
    content: '';
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: rgb(51, 102, 102);
    left: 50%;
    transform: translateX(-50%);
}

.line:after {
    bottom: 0;
}

.section {
    display: flex;
    opacity: 0;
    transform: translateX(-100%);
    transition: 600ms ease;
    position: relative;
    z-index: 1;
    margin: 50px 0;
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
    min-height: 300px;
}

.section:nth-child(odd) {
    flex-direction: row-reverse;
    transform: translateX(100%);
}

.bead {
    position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: rgb(51, 102, 102);
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
}

.content {
    width: calc(50% - 2rem);
}

.show-me:nth-child(n) {
    transform: none;
    opacity: 1;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    letter-spacing: 1px;
    color: black;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 200;
    color: black;
    background-color: rgb(249, 212, 28);
}

p {
    font-family: 'Noto Sans Tangsa', sans-serif;
    color: black;
}