@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+Tangsa:wght@400;500&display=swap');
body {

    margin: 0;
    text-align: center;
}

#content {
    width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px 400px 500px 350px 500px 300px;
    position: relative;
    grid-gap: 15px;
    
}

#contentTwo {
    width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 90px 90px 90px 90px 90px 40px 1000px 90px 90px 30px;
    position: absolute;
    grid-gap: 10px;
   
}
h2 {
 font-family: 'Bebas Neue', cursive;
 font-size: 40px;
}
h1 {
    font-family: 'Bebas Neue', cursive;
}
p {
    font-family: 'Noto Sans Tangsa', sans-serif;

}
.header {
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column: 1/13;
    grid-row: 1/2;
    
    
}
.logo img {
    width: 125%;
    margin-left: 40px
    
}
.logo {
    grid-column: 2/4;
    grid-row: 1/2;
}
.link, .linkon{
    grid-row: 3/4;
}

.link a, .linkon a{
    text-decoration: none;
    color: gray;
    font-family: 'Noto Sans Tangsa', sans-serif;
    font-weight: 500px;
    transition: color 0.5s;
}
.linkon a {
    color: black;
}
.link a:hover {
    color:black;
}

/*intro*/

.intro {
    
    grid-column: 1/13;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    
    
    
}
.introimg img {
    max-width: 100%;
    margin-top: 13px;
}
.introtext {
    grid-row: 4/5;
    grid-column: 1/9;
    background-color: white;
}
.introtext h1 {
    font-family: 'Bebas Neue', cursive;
    color: rgb(249,212,28);
    font-size: 40px;
    margin-top: 20px;
    text-align: left;
}
.introparagraph {
    grid-row: 5/6;
    grid-column: 1/8;
    background-color: white;
    font-weight: 500;
    font-size: 15px;
    text-align: left;
}
.introlink {
    grid-row: 6/7;
    grid-column: 1/5;
    background-color: rgb(249,212,28);
    background-color: rgb(249,212,28);
    padding: 30px;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.introlink a {
    color: black;
    bottom: 10px;
    font-size: 13px;
    font-family: 'Noto Sans Tangsa', sans-serif;
    text-decoration: none;
}





/*mid body*/

.kidimg {
 grid-column: 1/13;
 grid-row: 3/4;
 background-color: white
}
.kidimg img {
    width: 90%;
    margin-top: 40px;
    margin-right: 20px;
}
.kidtext {
 grid-column: 1/13;
 grid-row: 4/5;
 display: grid;
 grid-template-columns: repeat(6, 1fr);
 grid-template-rows: repeat(6, 1fr);
}
.kidtext h2 {
    grid-column: 1/8;
    grid-row: 1/2;
}
.kidtext p {
    grid-column: 2/6;
    grid-row: 2/3;
    font-weight: 500
}
.kidtext a {
    grid-column: 3/5;
    grid-row: 3/4;
    text-decoration: none;
    color: black;
    font-family: 'Noto Sans Tangsa', sans-serif;
    border: 2px solid black;
    font-weight: 500px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}
.kidtext a:hover {
    border: 3px solid black;
}
.petition {
 grid-column: 1/13;
 grid-row: 5/6;
 
}
.petition img {
    max-width: 100%;
    height: 110%;
}
.petitionhead {
    grid-row: 8/9;
    grid-column: 1/9;
    background-color: white;
    font-size: 20px;
    text-align: left;
}
.petitiontext {
    grid-row: 9/10;
    grid-column: 1/8;
    text-align: left;
    font-weight: 500;
}
.petitionlink {
    grid-row: 10/11;
    grid-column: 2/6;
    background-color: rgb(249,212,28);
    padding: 3px 20px 3px 20px;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    pointer-events: all;
    
}
.petitionlink a {
text-decoration: none;
color: black;
font-family: 'Noto Sans Tangsa', sans-serif;


}
/*footer*/
.footer {
 grid-column: 1/13;
 grid-row: 6/7;
 background-color: rgb(51,102,102);
 display: grid;
 grid-template-columns: repeat(6, 1fr);
}
.footer h2 {
    grid-column: 2/6;
    font-size: 40px;
    color: white;
}
.footer a {
    grid-column: 2/6;
}
.footer a img {
    width: 20%;
}
@media (min-width: 768px) {
    #content {
        width: 768px;
    }
    .kidimg img {
        width: 70%;
    }
    .header img {
        width: 80%;
        margin-left: 110px;
    }
    .introtext {
        grid-column: 2/11;
    }
    .introparagraph {
        grid-column: 2/9;
    }
    .introlink {
        grid-column: 2/6;
    }
    .petitionhead {
        grid-column: 2/10;
    }
    .petitiontext {
        grid-column: 2/10;
    }
    .petitionlink {
        grid-column: 3/8;
    }
    .introimg img {
        max-width: 70%;
       margin-left: 232px;
       margin-top: 0px;
    }
    .intro {
        background-color: orange;
    }
}
@media (min-width: 1200px) {

#content {
    width: 1200px;
    grid-template-rows: 200px 600px 500px 1px 500px 50px 300px;;

}
#contentTwo {
    grid-template-rows: 90px 90px 90px 90px 90px 40px 900px 90px 90px 90px;
   
}
.petitionhead {
    font-size: 40px;
    grid-column: 1/13;
}
.petitiontext {
    font-size: 20px;
    margin-top: 60px;
    grid-column: 1/13;
}
.petitionlink {
    margin-top: 60px;
    grid-column: 1/6;
    
}

#content img {
    max-width: 67%;
    
}
.intro img {
    position: absolute;
    left: 100px;
    margin-left: 300px;
    top: 215px;
}
.header img{
    margin-left: 220px;
}
.intro {
    background-color: orange;
}
.intro img {
    position: absolute;
    width:120%;
}
.introtext {
    grid-column: 2/13;
    grid-row: 4/5;
    
}
.introtext h1 {
    font-size: 50px;
}
.introtext  {
    grid-column: 3/13;
    grid-row: 4/6;
}
.introparagraph {
    grid-column: 3/13;
    grid-row: 6/8;
    border: 10px solid orange;
}
.introparagraph {
    grid-row: 5/6;
}
.introlink {
grid-column: 3/7;
}
.kidtext {
    grid-column: 1/7;
    grid-row: 3/4;
    
}
.kidimg {
    grid-column: 7/13;
}
.kidimg img {
    width: 100%;
    
}
.kidtext {
    grid-column: 1/7;
    margin-bottom: 20px;
    text-align: left;

}
.footer {
    grid-row: 7/8;
}
.footer img {
    width: 10%;
}
.petition img {
    margin-left: 400px;
    
}

}












