@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+Tangsa:wght@400;500&display=swap");
body {
	margin: 0;
	text-align: center;
}

#content {
    width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px;
}
.header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column: 1/13;
    grid-row: 1/2;
    background-color: white;
}
.logo img {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 25%;
    margin-left: 85px;
}

.logo {
    grid-column: 2/4;
    grid-row: 1/2;
}
.link, .linkon, .langue{
	grid-row: 4/5;
}

.langue {
	grid-column: 6/7;
}
.link a,
.linkon a {
	text-decoration: none;
	color: #26567a;
	font-family: "Noto Sans Tangsa", sans-serif;
	font-weight: 500px;
	transition: color 0.5s;
}
.langue a {
	text-decoration: none;
	color: #26567a;
	font-family: "Noto Sans Tangsa", sans-serif;
	font-weight: 500px;
	font-size: 70%;
	transition: color 0.5s;
}

.langue a:hover {
	color: #4ea4c6;
}


#content {
	width: 500px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 200px 400px 500px 350px 50px 300px;
	position: relative;
}

#contentTwo {
	width: 500px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 90px 90px 90px 90px 90px 30px 1000px 90px 90px 30px;
	position: absolute;
	grid-gap: 10px;
	z-index: 2;
}
h2 {
	font-family: "Bebas Neue", cursive;
	font-size: 40px;
}
h1 {
	font-family: "Bebas Neue", cursive;
}
p {
	font-family: "Noto Sans Tangsa", sans-serif;
}
.header {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-column: 1/13;
	grid-row: 1/2;
}
.logo img {
	width: 125%;
	margin-left: 40px;
}
.logo {
	grid-column: 2/4;
	grid-row: 1/2;
}
.link,
.linkon {
	grid-row: 3/4;
}

.link a,
.linkon a {
	text-decoration: none;
	color: gray;
	font-family: "Noto Sans Tangsa", sans-serif;
	font-weight: 500px;
	transition: color 0.5s;
}
.linkon a {
	color: black;
}
.link a:hover {
	color: black;
}

/* mobile version */
.content_title {
	margin-bottom: 40px;
}
.content_title .title {
	font-family: "Roboto", sans-serif;
	color: black;
}
.content_title .title small {
	font-weight: 100;
	color: black;
}

.main {
	padding: 70px 20px;
	width: 1200px;
	margin: auto;
}
.main * {
	transition: all 0.4s;
	margin-left: auto;
}
.main .top_banner,
.main .bottom_banner {
	text-align: center;
	color: black;
}
.main .top_banner a,
.main .bottom_banner a {
	color: black;
}
.main .main_content {
	margin: 60px 0 40px;
	column-gap: 20px;
	width: 100%;
}
.main .main_content .picture_wrapper {
	margin-bottom: 20px;
}
.main .main_content .picture_wrapper img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 2px;
}

/* responsive */
@media (min-width: 1200px) {
	.main_content {
		column-count: 4;
	}
}
@media (min-width: 768px) and (max-width: 1199px) {
	.main_content {
		column-count: 1;
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	.main_content {
		column-count: 1;
	}
}
@media (max-width: 575px) {
	.main_content {
		column-count: 1;
	}
}

/*footer*/
.footer {
	grid-column: 1/13;
	grid-row: 6/7;
	background-color: rgb(51, 102, 102);
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}
.footer h2 {
	grid-column: 2/6;
	font-size: 40px;
	color: white;
	font-weight: 200;
}
.footer a {
	grid-column: 2/6;
}
.footer a img {
	width: 70px;
}
